# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [ ]:
print("Hello World",3.142,True,123)

Hello World 3.142 True 123

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [ ]:
print("Hello World",3.142,True,123,sep="-")

Hello World-3.142-True-123

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [ ]:
print("Hello World",end=" ")
print(3.142,end=" ")
print(True,end=" ")
print(234,end=" ")

Hello World 3.142 True 234

4) Can a python print function take no value to print???

It takes the value to be printed

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [1]:
name = "Mr. Ahmed"
age = 30
profession = "lawyer"
graduation_year = 2005
law_firm = "The Himalya Associates"
city = "Karachi"
start_work_year = 2015
height_feet = 5.10
weight_grams = 70600
monthly_income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [2]:
current_year : int = 2024
years_passed : int = current_year - graduation_year
print(years_passed)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [3]:
print(current_year - start_work_year)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [5]:
income_in_dollars = monthly_income_pkr / 280
income_in_dollars

714.2857142857143

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [7]:
if isinstance(income_in_dollars, float):
    monthly_income_dollar = int(income_in_dollars)
monthly_income_dollar

714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [ ]:
# prompt: Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

print(type(weight_grams))
weight_kg = int(weight_grams / 1000)
weight_kg

In [ ]:
#11) print the year of birth of Mr. Ahmed.
birth_year = current_year - 30
print(birth_year)

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [ ]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [8]:
# prompt: 12) Can Rs. 100 be divided equally among 6 students? HINT: % operator (modulo)

# 12) Can Rs. 100 be divided equally among 6 students?
# HINT: % operator (modulo)

amount = 100
students = 6

if amount % students == 0:
  print("Yes, Rs. 100 can be divided equally among 6 students.")
else:
  print("No, Rs. 100 cannot be divided equally among 6 students.")

No, Rs. 100 cannot be divided equally among 6 students.