In [1]:
import pandas as pd
result = pd.read_excel("result.xlsx")

In [3]:
result = result[["Name","Email Address", "Score"]]

                         Name                    Email Address  Score
0                         NaN                              NaN     34
1            Muhammad Zeeshan           zeeshanayaz1@gmail.com     36
2                hamza parekh  hamzakashifparekh2009@gmail.com     27
3       Muhammad Ahmed Muazan         muazanqureshi3@gmail.com     30
4         Sufyan Abdul Rahman   sufyan.abdulrahman55@gmail.com     35
..                        ...                              ...    ...
129                Faiza noor       balochfaizan8989@gmail.com     29
130             Abdul Rehman                tygif397@gmail.com     36
131  Muhammad Sharjeel Mughal       mastermughal6969@gmail.com     33
132            Muhammad Hamza          hamzaazam2076@gmail.com     32
133          Hanzala jahangir         lyneskroff2189@gmail.com     26

[134 rows x 3 columns]

In [5]:
result.to_excel("result.xlsx")

# List functions/Methods

In [6]:
students = ['Ali', 'Basit','Kaleem', 'Nasir', 'Babar','Asif','Asad','Saad']

# Adding more memebers to an existing list
   - append(): appends a member at very last 
   - insert(): insert a member at given index
   - extend(): adds a collection to list
   -      +  : concats to list

In [7]:
# adds a single value or member in last of the list
students.append("Rashid")

In [8]:
students

['Ali', 'Basit', 'Kaleem', 'Nasir', 'Babar', 'Asif', 'Asad', 'Saad', 'Rashid']

In [9]:
students.append("Rashid", "Zahid")

TypeError: list.append() takes exactly one argument (2 given)

In [10]:
# add Majid on 3rd index
students.insert(3,"Majid")

In [11]:
students

['Ali',
 'Basit',
 'Kaleem',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid']

In [14]:
# add Majid on 100 index
students.insert(100,"Shani")

In [15]:
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani']

In [16]:
staff = ["wahid", 'kamil', "hammad", "munib"]

In [17]:
students.append(staff)

In [18]:
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 ['wahid', 'kamil', 'hammad', 'munib']]

In [19]:
students.extend(staff)

In [20]:
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 ['wahid', 'kamil', 'hammad', 'munib'],
 'wahid',
 'kamil',
 'hammad',
 'munib']

In [21]:
students.extend("Hello")
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 ['wahid', 'kamil', 'hammad', 'munib'],
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l',
 'o']

In [23]:
students.extend("100")

In [24]:
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 ['wahid', 'kamil', 'hammad', 'munib'],
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l',
 'o',
 '1',
 '0',
 '0']

In [25]:
students.extend("1")

In [26]:
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 ['wahid', 'kamil', 'hammad', 'munib'],
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l',
 'o',
 '1',
 '0',
 '0',
 '1']

In [27]:
students + staff

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 ['wahid', 'kamil', 'hammad', 'munib'],
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l',
 'o',
 '1',
 '0',
 '0',
 '1',
 'wahid',
 'kamil',
 'hammad',
 'munib']

In [28]:
staff

['wahid', 'kamil', 'hammad', 'munib']

# Deleting a member from existin list
  - del statement deletes parmanently via index
  - remove():  deletes parmanently via value
  - pop():    deletes parmanently from last index
   
              can delete a member from given index
              
              it returns deleted 
   - clear()

In [33]:
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 ['wahid', 'kamil', 'hammad', 'munib'],
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l',
 'o',
 '1',
 '0',
 '0',
 '1']

In [34]:
del students[12]
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Rashid',
 'Shani',
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l',
 'o',
 '1',
 '0',
 '0',
 '1']

In [35]:
del students[10]
students

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Shani',
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l',
 'o',
 '1',
 '0',
 '0',
 '1']

In [36]:
students.remove('o')

In [38]:
students.remove('0')

In [39]:
students.remove('hello')

ValueError: list.remove(x): x not in list

In [41]:
print(students)
students.pop()
students

['Ali', 'Basit', 'Kaleem', 'Sajid', 'Majid', 'Nasir', 'Babar', 'Asif', 'Asad', 'Saad', 'Shani', 'wahid', 'kamil', 'hammad', 'munib', 'H', 'e', 'l', 'l', '1']

['Ali',
 'Basit',
 'Kaleem',
 'Sajid',
 'Majid',
 'Nasir',
 'Babar',
 'Asif',
 'Asad',
 'Saad',
 'Shani',
 'wahid',
 'kamil',
 'hammad',
 'munib',
 'H',
 'e',
 'l',
 'l']

In [42]:
students = ['Ali', 'Basit', 'Kaleem', 'Sajid', 'Majid', 'Nasir', 'Babar', 'Asif', 'Asad']

In [44]:
deleted_values =  students.pop()

In [45]:
deleted_values

'Asif'

In [46]:
deleted_values =  students.pop(5)

In [47]:
deleted_values

'Nasir'

In [48]:
students

['Ali', 'Basit', 'Kaleem', 'Sajid', 'Majid', 'Babar']

In [49]:
del students[3:6]
students

['Ali', 'Basit', 'Kaleem']

In [50]:
students.clear()

In [51]:
students

[]

In [52]:
students.index("hamid")

ValueError: 'hamid' is not in list

In [53]:
students.extend('2ab5h')
students

['2', 'a', 'b', '5', 'h']

In [54]:
students.sort()

In [55]:
students

['2', '5', 'a', 'b', 'h']

In [58]:
chr(99)

'c'

In [59]:
ord('c')

99

In [60]:
students.append(100)

In [61]:
students.insert(3,200)

In [62]:
students

['2', '5', 'a', 200, 'b', 'h', 100]

In [64]:
students.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [65]:
students.reverse()

In [66]:
students

[100, 'h', 'b', 200, 'a', '5', '2']

In [67]:
new_students = students.copy()

In [68]:
new_students

[100, 'h', 'b', 200, 'a', '5', '2']

In [69]:
old_students = students

In [70]:
old_students

[100, 'h', 'b', 200, 'a', '5', '2']

# Pass by Value and Pass by reference (deep copy and shaLLOW COPY)

In [71]:
students

[100, 'h', 'b', 200, 'a', '5', '2']

In [72]:
del students[3]
students

[100, 'h', 'b', 'a', '5', '2']

In [73]:
old_students

[100, 'h', 'b', 'a', '5', '2']

In [74]:
id(old_students)

2554048404416

In [75]:
id(students)

2554048404416

In [76]:
new_students

[100, 'h', 'b', 200, 'a', '5', '2']